    {% extends 'base.html' %}


    {% block conteudo %}
    <!--CORPO-->


     <div>
        <h1 id="imagemcapa"><img src="static/imagem/capa.png" alt="capa"></h1>
        <h1 id="fundo"><img src= "static/Imagem/fundo.png" alt="fundo"></h1>
        <h1 id="fundo2"><img src= "static/Imagem/fundo2.png" alt="fundo2"></h1>

       <div class="texto"> <h2>Sobre a Universidade</h2>
        <p> &nbsp A UNES responde por 8% da pesquisa acadêmica no Brasil, 12% da pós-graduação nacional e mantém a liderança entre as universidades brasileiras no que diz respeito a patentes e ao número de artigos per capita publicados anualmente em revistas indexadas na base de dados ISI/WoS. A Universidade conta com aproximadamente 34 mil alunos matriculados em 66 cursos de graduação e 153 programas de pós-graduação.

            A média anual de teses e dissertações defendidas é de 2,1 mil e 99% de seus professores possuem título de doutor. Esse batalhão do ensino e pesquisa lidera o ranking nacional per capita de publicações científicas nas revistas internacionais catalogadas.Se a produção acadêmica for calculada pelo desempenho de cada pesquisador, a UNES é, atualmente, a mais produtiva universidade brasileira.
            
            Todos os anos, cerca de 800 doutores são formados, uma marca capaz de despertar admiração até mesmo em líderes de algumas universidades americanas e européias. E em cinco décadas, a UNES formou mais de 65 mil jovens profissionais em seus cursos de graduação. Além disso, milhares de profissionais formados na universidade atuam em empresas, governo e organizações sociais, contribuindo para o 
            desenvolvimento econômico e social do país. Como pólo científico e cultural, a Universidade reuniu grandes nomes no meio acadêmico. &nbspEntre eles, Cesar Lattes, André Tosello, Gleb Wataghin, Vital Brasil, Giuseppe Cilento, Octávio Ianni, Almeida Prado e Bernardo Caro, entre muitos outros.

        </p>

       {% endblock %}