   {% extends 'base.html' %}


   {% block conteudo %}
    <!--CORPO-->

    <div class="texto"><h2>Quem Somos</h2>
        <p>
            &nbsp A Comissão de Pesquisa (CP) é o órgão do Instituto de Economia (IE) destinado a promover a coordenação das atividades de pesquisa. A CP procura auxiliar na formulação de estratégias
             para a pesquisa no IE, bem como na criação de condições para a execução, catalogação e divulgação das mesmas. O Instituto se organiza, em termos de pesquisa, em diferentes centros e núcleos.
             São eles: Centro de Estudos de Conjuntura e Política Econômica (CECON); Centro de Estudos de Desenvolvimento Econômico (CEDE); Centro de Estudos de Relações Econômicas Internacionais (CERI); 
             Centro de Estudos Sindicais e de Economia do Trabalho (CESIT); Núcleo de Economia Agrícola (NEA); Núcleo de Economia Industrial e da Tecnologia (NEIT); Núcleo de Economia Social, Urbana e Regional (NESUR);
             Núcleo de Finanças (NIF); Núcleo de História Econômica (NIHE); Núcleo de Métodos Quantitativos aplicados à Economia (NIMQAE).
        </p>
        <h2>5 Motivos para estudar</h2>
        <ol>
            <li>Material sempre atualizado</li>
            <li>Tablets em sala de aula</li>
            <li>Professores renomados</li>
            <li>Universidade bem avaliada</li>
            <li>Ótima localização</li>
        </ol>
        <hr>

        <h2>Objetivos</h2>
        <p>
            &nbsp A UNES tem no ensino de graduação a sua principal atividade, desenvolvida por professores conscientes de suas responsabilidades sociais na busca de soluções dos problemas que afligem o cotidiano das coletividades.
            O desenvolvimento tecnológico e cultural, bem como o progresso científico, esteiam-se na harmonia e simbiose existentes entre as sociedades e as universidades, sendo atribuição destas últimas a formação do profissional do futuro.
            Consciente de suas responsabilidades no contexto nacional, a UNES projeta-se para o futuro apoiando-se em alguns objetivos fundamentais:
        </p>
        <ul>
        <li>constituir-se em um centro de valorização do profissional, preservando, especializando e aprimorando os valores que o dignificam;</li>
        <li>promover um intenso intercâmbio de serviços e informações com a sociedade, oferecendo conhecimentos e técnicas sistematizadas e recebendo, em troca, informações que realimentem as atividades de pesquisa e extensão;</li>
        <li>estabelecer-se como um agente de transformação e, assim, contribuir para o crescimento humano, nos aspectos intelectual, moral e material;</li>
        <li>utilizar-se de uma metodologia de ensino e de uma política consciente e efetiva de graduação, frequentemente discutida com especialistas e educadores;</li>
        </ul>

       {% endblock %}